<div class="container">
  <div class="card bg-dark text-white m-3 mt-5">
    <h5 class="card-header text-center">
      <img src="../assets/lco.png" alt="" width="30" height="30" class="mr-2" />
      Instagram Signup Form
    </h5>
    <div class="card-body">
      <form [formGroup]="registerForm">
        <div class="form-row">
          <div class="form-group col-6">
            <label>First Name</label>
            <input 
            type="text" class="form-control" 
            formControlName="firstName"
            [ngClass]="{ 'is-invalid': submited && registerFormelement.firstName.errors}"
            />
            <div class="text-warning" *ngIf="registerFormelement.firstName.touched && registerFormelement.firstName.errors">
              <div *ngIf="registerFormelement.firstName.errors.required">
                First Name is required
              </div>
            </div>
          </div>
          <div class="form-group col-6">
            <label>Last Name</label>
            <input 
            type="text" class="form-control"
            formControlName="lastName"
            [ngClass]="{ 'is-invalid': submited && registerFormelement.lastName.errors}"
             />
            <div class="text-warning" *ngIf="registerFormelement.lastName.touched && registerFormelement.lastName.errors">
              <div *ngIf="registerFormelement.lastName.errors.required">
                Last Name is required
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Email</label>
          <input 
          type="text" class="form-control" 
          formControlName="email"
          [ngClass]="{ 'is-invalid': submited && registerFormelement.email.errors}"
          />
          <div class="text-warning"  *ngIf="registerFormelement.email.touched && registerFormelement.email.errors">
            <div *ngIf="registerFormelement.email.errors.required">Email is required</div>
            <div *ngIf="registerFormelement.email.errors.email">
              Email must be a valid email address
            </div>
          </div>
        </div>

        <!-- <ng-container>
          <div class="text-danger">
            Value is required.
          </div>
        </ng-container> -->
        <div class="form-row">
          <div class="form-group col">
            <label>Password</label>
            <input 
            type="password" class="form-control" 
            formControlName="password"
            [ngClass]="{ 'is-invalid': submited && registerFormelement.password.errors}"
            />
            <div class="text-warning" *ngIf="registerFormelement.password.touched && registerFormelement.password.errors">
              <div *ngIf="registerFormelement.password.errors.required">Password is required</div>
             
            </div>
          </div>
          <div class="form-group col">
            <label>Confirm Password</label>
            <input 
            type="password" class="form-control" 
            formControlName="confirmpassword"
            [ngClass]="{ 'is-invalid': submited && registerFormelement.confirmpassword.errors}"
            />
            <div class="text-warning" *ngIf="registerFormelement.confirmpassword.touched && registerFormelement.confirmpassword.errors">
              <div *ngIf="registerFormelement.confirmpassword.errors.required">Confirm Password is required</div>
              <div *ngIf="registerFormelement.confirmpassword.errors.mustMatch">
                Passwords must match
              </div>
            </div>
          </div>
        </div>
        <div class="form-group form-check">
          <input 
          type="checkbox" id="acceptTerms" class="form-check-input" 
          formControlName="termsAndConditions"
          [ngClass]="{ 'is-invalid': submited && registerFormelement.termsAndConditions.errors}"
          />
          <label for="acceptTerms" class="form-check-label"
            >Accept Terms & Conditions</label
          >
          <div class="text-warning"*ngIf="registerFormelement.termsAndConditions.touched && registerFormelement.termsAndConditions.errors">
            Accept Ts & Cs is required
          </div>
        </div>
        <div class="text-center">
          <button class="btn btn-success btn-lg px-4 mr-3" (click)="onSubmit()">Register</button>
          <button class="btn btn-warning" type="reset" (click)="onReset()">
            Reset
          </button>
          <p class="text white">Value: {{ registerForm.value | json }}</p>
          <p class="text white">Value: {{ registerForm.valid | json }}</p>
        </div>
      </form>
    </div>
  </div>
</div>
